.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Lingar styling*/

div {
  padding: 20px 30px;
  margin: 10px;
  border: 2px solid purple;
  border-radius: 5px ;
}
.dana-yad-area{
  font-family: dana yad;
  direction: rtl;
  text-align: right;
}
/**
https://fonts.google.com/specimen/Amatic+SC?preview.text=%D7%9C%D7%95%D7%97%20%D7%90%D7%99%D7%A8%D7%95%D7%A2%D7%99%20%D7%94%D7%99%D7%9B%D7%A8%D7%95%D7%99%D7%95%D7%AA%20-%20%D7%91%D7%A8%D7%95%D7%97%20%D7%98%D7%95%D7%91%D7%94&preview.text_type=custom#standard-styles
*/
.amastic-sc-area{
  /*font-family: amastic-sc;*/
  font-family: 'Amatic SC', cursive;
  /*font-weight: bold;*/
  /*font-family: 'Open Sans', sans-serif;*/
  direction: rtl;
  text-align: right;
  font-size: 50px;
}

.tachles-area{
  font-family: 'tachles';
  /*font-weight: bold;*/
  /*font-family: 'Open Sans', sans-serif;*/
  direction: rtl;
  text-align: right;
  /*font-size: 50px;*/
}